* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.banner-image{
    background-image: url(./images/banner/banner1.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-container {
    position: relative;
    height: 100vh;
    margin: 0 10%;
}

.banner-info {
    width: 500px;
    height: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 0; */
    right: 0;
    margin: auto;
}

.banner-title {
    text-align: right;
    padding-left: 149px;
}

.banner-description {
    text-align: right;
}

.btn-primary {
    position: absolute;
    margin: 10px 0;
    right: 0px;
    border: none;
    border-radius: 5px;
    background: #F15B22;
    color: white;
    padding: 15px 32px;
    text-align: center;
}