* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.banner-image {
    background-image: url(./images/banner/banner1.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-container {
    position: relative;
    height: 100vh;
    margin: 0 10%;
}

.banner-info {
    width: 500px;
    height: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 0; */
    right: 0;
    margin: auto;
}

.banner-title {
    text-align: right;
    padding-left: 149px;
}

.banner-description {
    text-align: right;
}

.btn-primary {
    position: absolute;
    margin: 10px 0;
    right: 0px;
    border: none;
    border-radius: 5px;
    background: #F15B22;
    color: white;
    padding: 15px 32px;
    text-align: center;
}

.failure-container {
    width: auto;
    margin: 10% 10%;
}

.failure-imin {
    gap: 60px;
    display: flex;
    align-items: center;
    list-style: none;

}

.failure-title {
    width: 346px;
}

.failure-description {
    width: 404px;
    margin: 10px 0;
}

.failure-check i {
    margin-right: 12px;
    color: #16D887;
}

.plan-title {
    text-align: center;
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10%;
}

.box {
    width: 200px;
    text-align: center;
    color: #0a0a0a;
    padding: 15px;
}

.box-title {
    color: #181818;
    padding: 10px 0;
    font-size: 20px;
}

.box-description {
    padding-bottom: 10px;
}

.failure-plan {
    padding-top: 10%;
}

.mindset {
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url(./images/watch.png);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.mindset-container {
    color: white;
    padding: 73px;
    
}

.mindset-title {
    width: 449px;
    font-size: 40px;
}

.btn-second {
    padding: 15px 32px;
    text-align: center;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    color: #df5b25;
    font-size: 20px;
    font-weight: 600;
}

.footer-banner{
    background-color: #151414;
    color: #F8F8F8;
}

.footer-container{
    width: auto;
    margin: 0 10%;
    padding: 10% 0;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 50%;
}

.footer-right {
    width: 30%;
}

.future-title {
    font-size: 45px;
    line-height: normal;
}

.footer-description {
    width: 466px;
    line-height: 26px;
}

.emial {
    line-height: 26px;
}

.phone {
    line-height: 26px;
}

.footer-social {
    margin-top: 10px;
}

input[type="email"] {
    display: block;
    padding: 18px 10px;
    margin-top: 15px;
    color: #757575;
    background-color: #151414;
    border-radius: 5px;
    border: 1px solid;
    width: 90%;
}